{% extends 'templates/kcsc_base.html' %}
{% block title %}About Us-{% endblock %}

{% block content %}


  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <!-- <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Background</li>
          </ol>
        </div> -->

      </div>
    </section><!-- End Breadcrumbs Section -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Background</h2>
          <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p> -->
        </div>
    <section class="inner-page">
      <div class="container">
        <p>
          <b>Karama Computer Services Co.( KCSC)</b> has been established in 1991 in Jordan to be a member of the KCSC group of companies that have been functioning in Kuwait, Saudi Arabia, and other Arab countries since 1977.
        </p>
        <p>
          <b>KCSC</b> is well experienced to offer the total consultancy approach for turnkey solutions. This approach will cover; the application software, the consultancy, the training, and all other services required providing a total comprehensive solution, which handles all the needs of the customer in all required application areas.
        </p>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our mission</h2>
        </div>

        <div class="row content">
          <div class="col-lg-30" data-aos="fade-up" data-aos-delay="150">
            <!-- <p>
              Karama Computer Services Co.( KCSC) has been established in 1991 in Jordan to be a member of the KCSC group of companies that have been functioning in Kuwait, Saudi Arabia, and other Arab countries since 1977.
            </p> -->
            <ul>
              <li><i class="ri-check-double-line"></i> <b>KCSC</b> aims to provide comprehensive IT services covering Business Solutions, Consultancy Services, and Total Turnkey IT Solutions.</li>
              <li><i class="ri-check-double-line"></i> <b>KCSC</b> acquired a long history of achievements with more than 40 years.</li>
              <!-- <li><i class="ri-check-double-line"></i> KCSC always strives to be unique, by providing tailor-made solutions, according to our customers’ requirements.</li> -->
              <li><i class="ri-check-double-line"></i> <b>KCSC</b> works on a long-term basis, offering high commitment through support, training, and consultancy to fulfill our customers’ needs.</li>
            </ul>
          </div>
          <!-- <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              KCSC is well experienced to offer the total consultancy approach for turnkey solutions. This approach will cover; the application software, the consultancy,
              the training, and all other services required providing a total comprehensive solution, which handles all the needs of the customer in all required application areas.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div> -->
        </div>
    </section><!-- End About Us Section -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>OUR VISION</h2>
        </div>

        <div class="row content">
          <div class="col-lg-30" data-aos="fade-up" data-aos-delay="150">
            <p style="text-align:center;">
            <b>"OUR VISION IS TO BE THE IDEAL SOLUTION FOR BUSINESS APPLICATIONS."</b>
            </p>
            <!-- <ul>
              <li><i class="ri-check-double-line"></i> “OUR VISION IS TO BE THE IDEAL SOLUTION FOR BUSINESS APPLICATIONS."</li>
              <li><i class="ri-check-double-line"></i> KCSC acquired a long history of achievements with more than 40 years.</li>
              <!-- <li><i class="ri-check-double-line"></i> KCSC always strives to be unique, by providing tailor-made solutions, according to our customers’ requirements.</li> -->
              <!-- <li><i class="ri-check-double-line"></i> KCSC works on a long-term basis, offering high commitment through support, training, and consultancy to fulfill our customers’ needs.</li> -->
            <!-- </ul> -->
          </div>
          <!-- <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              KCSC is well experienced to offer the total consultancy approach for turnkey solutions. This approach will cover; the application software, the consultancy,
              the training, and all other services required providing a total comprehensive solution, which handles all the needs of the customer in all required application areas.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div> -->
        </div>
    </section><!-- End About Us Section -->

  {% endblock %}
