{% extends 'templates/kcsc_base.html' %}
{% block title %}Plans-{% endblock %}

{% block content %}


<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->

  <section class="inner-page">
    <div class="container">
      <!-- <p>
        <b>Karama Computer Services Co.( KCSC)</b> has been established in 1991 in Jordan to be a member of the KCSC group of companies that have been functioning in Kuwait, Saudi Arabia, and other Arab countries since 1977.
      </p>
      <p>
        <b>KCSC</b>is well experienced to offer the total consultancy approach for turnkey solutions. This approach will cover; the application software, the consultancy, the training, and all other services required providing a total comprehensive solution, which handles all the needs of the customer in all required application areas.
      </p> -->
    </div>
  </section>
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <h2>Plans</h2>
      <p>Pick a plan based on your needs</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
          <h3>Starter</h3>
          <h4><sup>$</sup>2000<span> / year</span></h4>
          <ul>
            <li>Managed Hosting</li>
            <li>Up To 10 Users</li>
            <li>10 Days (Functional Support)</li>
            <li><sup>$</sup> 200/yr Additional User</li>
            <li class="na">Custom App</li>
            <li class="na">Integration</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3>Business</h3>
          <h4><sup>$</sup>5000<span> / year</span></h4>
          <ul>
            <li>Managed Hosting</li>
            <li>Up To 30 Users</li>
            <li>20 Days (Functional Support)</li>
            <li><sup>$</sup> 125/yr Additional User</li>
            <li>Custom App</li>
            <li>Integration</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
          <h3>Enterprise</h3>
          <h4><sup>$</sup>7000<span> / year</span></h4>
          <ul>
            <li>Managed Hosting</li>
            <li>Up To 50 Users</li>
            <li>50 Days (Functional Support)</li>
            <li><sup>$</sup> 75/yr Additional User</li>
            <li>Custom App</li>
            <li>Integration</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3>Business</h3>
          <h4><sup>$</sup>5000<span> / year</span></h4>
          <ul>
            <li>Managed Hosting</li>
            <li>Up To 30 Users</li>
            <li>20 Days (Functional Support)</li>
            <li><sup>$</sup> 125/yr Additional User</li>
            <li>Custom App</li>
            <li>Integration</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->


  {% endblock %}
