{% extends 'templates/kcsc_base.html' %}
{% block title %}ERPNext-{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <b><h1>The most agile ERP on the planet</h1></b>
        <b style="color:gray;"><h6>ERPNext is the world's best free and open source ERP</h6></b>
        <!-- <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="/assets/kcsc_website/kcsc/img/erpnext-hero.jpg" width="500" height="325"; alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>ERPNext</h2>
      <p>The most agile ERP on the planet</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-calculator"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-accounting">Financial Accounting</a></h4>
          <p class="description" style="color:black;"><a href="https://erpnext.com/open-source-accounting" style="color: black">Get a real-time view of your cash flow. Full-fledged accounting module covering every aspect of bookkeeping.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-sales-purchase">Sales Supply Chain</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-sales-purchase" style="color: black">Increase productivity and lower costs by managing your sales and purchase cycles, from purchase to sales orders</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-calculator"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-manufacturing-erp-software">Manufacturing</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-manufacturing-erp-software" style="color: black">Effectively maintain and manage multilevel bill of materials, production planning, job cards & inventory.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-asset-management-software">Asset Management</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-asset-management-software" style="color: black">Maintain and Manage details of assets, their movement, value adjustment, and depreciation.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-hrms-and-payroll">HR and Payroll</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-hrms-and-payroll" style="color: black">Manage full employee life cycle right from onboarding, payroll, attendance, expense claims, assets to separation.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-crm">CRM</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-crm" style="color: black">Win and retain more customers by optimizing the sales process. Track leads, opportunities, and send the quotes on the go.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-project-management-software">Projects</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-project-management-software" style="color: black">Deliver both internal and external projects on time, budget, and profitability. Track tasks, timesheets, and issues by project.</a></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="https://erpnext.com/open-source-saas-help-desk-software">Helpdesk</a></h4>
          <p class="description"><a href="https://erpnext.com/open-source-saas-help-desk-software" style="color: black">Deliver a better service experience with an intuitive issue tracker and an integrated knowledge base.</a></p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<div class="section-title" data-aos="fade-up">
  <h2>Why KARAMA ?</h2>
  <!-- <p>The most agile ERP on the planet</p> -->
</div>

<!-- ======= More Services Section ======= -->
<section id="more-services" class="more-services">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card" style='background-image: url("/assets/kcsc_website/kcsc/img/more-services-1.jpg");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title">Long Experience</h5>
            <p class="card-text">KCSC’s deep product knowledge, experience from multiple implementations, skill in customization as well as agile ERP implementation process enables a quick and effective implementation.</p>
            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="card" style='background-image: url("/assets/kcsc_website/kcsc/img/more-services-2.jpg");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title">Strong Team</h5>
            <p class="card-text">With a strong team of the best functional and technical professionals, we have been offering our clients feature-rich, robust, and cost-effective ERP solutions.</p>
            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("/assets/kcsc_website/kcsc/img/more-services-3.jpg");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title">Comprehensive Support</h5>
            <p class="card-text">We highly believe that support is the cornerstone of customer satisfaction.From this point, KCSC has put massive efforts into creating a professional and proper support services.</p>
            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("/assets/kcsc_website/kcsc/img/more-services-4.jpg");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title">Build Your Own System</h5>
            <p class="card-text">We design and customize ERPNext to become your own and meet your special needs.</p>
            <!-- <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End More Services Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Features</h2>
      <p>ERPNext is a web-based system aimed at different businesses Fields</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-store-line" style="color: #ffbb2c;"></i>
          <h3>Easy to Use</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
          <!-- <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i> -->
          <h3>Comprehensive</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <!-- <i class="ri-calendar-todo-line" style="color: #e80368;"></i> -->
          <i class="ri-base-station-line" style="color: #ff5828;"></i>
          <h3>Cloud Based</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
          <h3>Customizable</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <!-- <i class="ri-database-2-line" style="color: #47aeff;"></i> -->
          <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
          <h3>360-degree Security</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
          <h3>Mobile Responsive</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <!-- <i class="ri-file-list-3-line" style="color: #11dbcf;"></i> -->
          <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
          <h3>Dashboard</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
          <h3>Integrated</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-anchor-line" style="color: #b2904f;"></i>
          <h3>Localized</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-disc-line" style="color: #b20969;"></i>
          <h3>Ecommerce</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <!-- <i class="ri-base-station-line" style="color: #ff5828;"></i> -->
          <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
          <h3>Notifications</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <!-- <i class="ri-fingerprint-line" style="color: #29cc61;"></i> -->
          <i class="ri-database-2-line" style="color: #47aeff;"></i>
          <h3>Open Source</h3>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->


  {% endblock %}
