{% extends 'templates/kcsc_base.html' %}
{% block title %}Team-{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 data-aos="fade-up"><b>Dr. Abdel Aziz Alghoul (1943 - 2000)</h2></b>
        <h2 data-aos="fade-up"><b>Founder</h2></b>
        <!-- <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="/assets/kcsc_website/kcsc/img/team/abed.png" width="500" height=auto; alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<!-- ======= Breadcrumbs Section ======= -->
<section class="inner-page">
  <div class="container">
    <b>
    <p>
        Dr. Alghoul was born in Jerusalem on March 17th, 1943, where he lived his childhood, his early youth, and completed his elementary and high school education.</p>
      <P>
        In 1966 he received an "Excellence and First Honor Degree" from President "Jamal Abdel Nasser" for his distinguished scientific level through his bachelor studies in Chemistry Science at the University of Asyot in Egypt.
      </p>
      <p>
        In 1970 he graduated from South Dakota University in the United States where he earned his Masters and Ph.D. in Organic Chemistry, with Minor studies in Computer Science. After Graduation, he went to Kuwait and started working with PIC Factories where he later became the executive manager of factories control systems.
      </p>
      <p>
        In 1977 Dr. Alghoul established with other partners the first "Kuwait Computer Services Center" and "Kuwait Computer Studies Center" (KCSC), and they were the first business consulting services center and the first computer training center in the Area.
      </p>
      <p>
        KCSC attained successful achievements in the information technology industry and became one of the leading companies in the Middle East. In 1991 Dr. Alghoul moved to Jordan and established the Jordanian arm of KCSC Group. "Karama Computer Services Co." and “Karama Computer Studies Center". And with the same high performance, KCSC continued the journey to becoming in a few years one of the leading companies and studies center in the Jordanian market. Dr. Alghoul was known for his great and long experience in information systems consultancy services.
      </p>
      <p>
        He was the lead consultant for a large number of organizations and banks in the Arab world. Additionally, he was the Chairman of the Board of directors of the "Advanced Engineering Group", and a Board Member in the "Jordan New Cable Co". Dr. Alghoul had a mission for KCSC to be a distinctive organization in providing information technology and consultancy services for all business sectors. He always focused on participating in the technology growth and development process, to build an advanced information technology revolution in the Arab world.
      </p>
      </b>
  </div>
</section>




    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Team</h2>
          <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p> -->
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assets/kcsc_website/kcsc/img/team/yesser.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/yasser.a.alghoul"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yasser Alghoul</h4>
                <span>General Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assets/kcsc_website/kcsc/img/team/naser.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nasser Alghoul</h4>
                <span>Development Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/assets/kcsc_website/kcsc/img/team/msiam.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mohammad Siam</h4>
                <span>ERP Consultant</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/kcsc_website/kcsc/img/team/imad.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Emad Khabour</h4>
                <span>Support Manager</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


  {% endblock %}
